<form class="form-inline" method="post" action="/Products/Search">
    <div class="form-group" mb-2>
        <label  class="col-sm-2 col-form-label">Search:</label>
    </div>
    <div class="fprm-group mx-sm-3 mb-2">
        <input type="text" class="form-control" name="keyword" placeholder="Type your keyword here">
    </div>
    
    <button type="submit" class="btn btn-primary mb-2">Search</button>
    
</form>