@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Shoppping Cart App</h1>
    <p>Press <a href="/products">To View Our Products</a>.</p>
</div>
