@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Online PC Part Shop</h1>
    <p>Press <a href="/products">To View Our Products</a>.</p>
</div>
